@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Audrey Hepburn(1929-1993)</h3>

<p class="about">Audrey Hepburn was a British actress, model, dancer and humanitarian. Recognized as a film and fashion icon, Hepburn was active during Hollywood's Golden Age. She was ranked by the American Film Institute as the third-greatest female screen legend in Golden Age Hollywood and was inducted into the International Best Dressed List Hall of Fame. Born in Ixelles, a district of Brussels, Hepburn spent her childhood between Belgium, England and the Netherlands. In Amsterdam, she studied ballet with Sonia Gaskell before moving to London in 1948, continuing her ballet training with Marie Rambert, and then performing as a chorus girl in West End musical theatre productions.</p>
