@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Audrey Hepburn Children's Fund</h3>

<address class="address">
    65 S. Grand Avenue<br />
    First Floor - Pasadena
    CA - 91105<br />
    <abbr title="Phone">P:</abbr>
    1.626.304.1380
</address>

<address class="email">
    <strong>Email:</strong>   <a href="mailto:ahcf@audreyhepburn.com">ahcf@audreyhepburn.com</a><br />
</address>