@model WardrobeProject.Models.ClothingType

@{
    ViewBag.Title = "Details";
}

<h2>Clothing Type</h2>

<div>
    <h4>@Html.DisplayFor(model => model.ClothingType1)</h4>
    <hr />
    <div class="dl-horizontal">
        
        
        <hr />
       

    </div>
    </div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClothingTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
